/****************** Roboto Font **********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
  font-family: "Roboto Condesed" sans-serif;
}

:root
{
  --primary-white: #fff;
  --primary-dark: rgba(255, 255, 255, 0);
}

/****************** Navigation **********************************/
.logo
{
  width: 5rem;
} 

/****************** Menu Links **********************************/
nav a.nav-link
{
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li
{
  text-transform: uppercase;
}

.navbar-nav > li > a, .container > a > a
{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-transform: uppercase;
  color: var(--primary-white)!important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand
{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav > li > a.actitve, .navbar-nav > li > a:focus 
{
  border-top: 0.1875rem solid var(--primary-white);
}