/****************** Roboto Font **********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
  font-family: "Roboto Condesed" sans-serif;
}

:root
{
  --primary-white: #fff;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-green: rgb(56, 146, 56);
}

/****************** Navigation **********************************/
nav{
  position: static;
  z-index: 2;
}

.logo
{
  width: 5rem;
} 

/****************** Menu Links **********************************/
nav a.nav-link
{
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li
{
  text-transform: uppercase;
}

.navbar-nav > li > a, .container > a > a
{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-transform: uppercase;
  color: var(--primary-white)!important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand
{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus 
{
  border-top: 0.1875rem solid var(--primary-white);
}



/****************** Header **********************************/

.header-wraper
{
  position: relative;
  background: url(../src/assets/cyber.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  filter: brightness(50%);
}

.main-info
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media(max-width: 768px)
{
  .main-info h1{
    font-size: 1.75rem;
  }
}

.main-info h1 
{
  color: var(--primary-white);
}


/****************** Typed Text **********************************/
.typed-text
{
  font-size: 2rem;
  color: var(--primary-white);
}

/****************** Particles **********************************/
.tsparticles-canvas-el
{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}



/****************** Footer **********************************/
.footer-info
{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: var(--primary-white);
}

.about-info > p 
{
  padding-top: 0.625rem;
}

@media(max-width: 768px)
{
  .footer-info h2 {
    font-size: 1.25rem;
    color: var(--primary-white);
  }
  .footer-info p a {
    font-size: 0.625rem;
  }
  .footer-info{
    padding-left: 10rem;
  }
}

li{
  padding-top: 0.625rem;
  list-style: none;
  cursor: pointer;
}

textarea
{
  width: 18.75rem;
  height: 5rem;
  padding: 0.25rem;
}

